@tailwind base;
@tailwind components;
@tailwind utilities;

/* slick slider css */

@layer components {
  .btn-header {
    @apply bg-col5 text-white hover:bg-[#b73c36] w-fit h-fit px-8 py-3 rounded-full font-semibold  active:scale-90;
  }
  .btn-blue {
    @apply h-fit w-fit rounded-lg bg-blue-600 px-4 py-2 font-semibold text-white hover:bg-blue-800 active:scale-90;
  }
  .sectionTitle {
    @apply pb-12 text-center text-3xl font-bold text-black md:pb-16 lg:text-5xl;
  }
  .gradientBg {
    @apply bg-gradient-to-r from-[#2f80ed] to-[#56ccf2];
  }
  .titleColor{@apply text-col5}
}

body{
  /* background: #F1CF54; */
}


.accordian {
  padding: 0px !important;
}
.accordian h2 {
  padding: 0 10px;
}
.accordian section {
  background-color: rgb(231, 231, 231);
  padding: 0 10px;
  /* background-color: rgb(231, 231, 231); */
}

.blend-image {
  mix-blend-mode: multiply; /* You can experiment with different blend modes */
}

/* ------------------------------ swiper js css ----------------------------- */
.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0px !important;
}
/*

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: initial !important;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  /* display: flex;
  justify-content: center;
  align-items: center;
}

.reviewSlider{
  height: initial !important;
} */


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  margin-top: 0 !important;

  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.swiper-grid-column > .swiper-wrapper {
  /* gap: 15px; */
    flex-wrap: nowrap;
    flex-direction: row !important;
}

.imageSlider .swiper-slide {
  height: 60px !important;
  width: 160px !important;
  margin-bottom: 7px;
}

